.cursor-server
.vscode-server
.wget-hsts
.windsurf-server
.copilot/*
.idea/this_studio.iml
.lightning_studio/*
.gnupg/*
.vscode/settings.json
.env
.local
node_modules/
.wrangler/
.infisical.json
.worker-secrets
.cline/
.clinerules/
.atomcode/
.opencode/
openspec/
.claude/
.42c/scan/proxy-llms-api/scanconf.json
.42c/scan/proxy-llms-api1/scanconf.json
opencode.json
