.cursor-server
.vscode-server
.wget-hsts
.windsurf-server
.copilot/*
.idea/this_studio.iml
.lightning_studio/*
.gnupg/*
.vscode/settings.json
.env
.local
.cline/
node_modules/
.wrangler/
.infisical.json
.worker-secrets
